html {
  color: white;
  font-size: 18px;
  margin: 0 auto;
}

body {
  font-family: Helvetica, sans-serif;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  background-color: black;
}

.header img {
  height: 1.5rem;
  padding: .66rem 0rem .66rem .5rem;
}

.headeragent {
  display:block;
  font-size: 1rem;
  padding-top: .66rem;
  padding-bottom: .66rem;
  padding-left: 1rem;
}

.newarrival {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  height: 25em;
  margin: 0 auto;
  width: 100%;

}
