html {
  color: white;
}

body {
  max-width: 960px;
  font-size: 18px;
  font-family: Helvetica;
}

.header {
  display: flex;
  background-color: black;
}

.header img {
  display: flex;
  height: 1.5rem;
}
